[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
boto3 = "*"
pdf2image = "*"
pillow = "*"

[dev-packages]
bump2version = "==0.5.11"
watchdog = "==0.9.0"
flake8 = "==3.7.8"
tox = "==3.14.0"
coverage = "==4.5.4"
twine = "==1.14.0"
pytest = "==6.2.4"
Sphinx = "==1.8.5"
pre-commit = "*"
black = "==22.3.0"
ipython = "*"
ipdb = "*"
mkdocs = "*"
jinja2 = "==3.0.3"

[requires]
python_version = "3.9"
